mixin form-lead
    form.form-lead
        h3.form-lead__title Запишитесь на первое индивидуальное занятие со скидкой 50%!
        p.form-lead__label Выберите удобный способ связи:

        .form-lead__options
            button.form-lead__options-button.form-lead__options-button--