mixin s12-faq
	section.s12&attributes(attributes)
		.s12__ctn.container
			h2.s12__title Вопросы, которые нам часто #[br]задают клиенты
			ul.s12__accordion(data-uk-accordion)
				-
					const questions = [
						{
							title: 'Как проходят занятия?',
							content: 'Мы обучаем детишек, начиная с 3-х лет. Занятия проходят в игровом формате и подходят для любого уровня катания. Для малышей 3-4 года лучше всего начать обучение с индивидуальных занятий, после чего есть возможность перейти на групповой формат обучения.',
						},
						{
							title: 'Что брать с собой?',
							content: 'Возьмите с собой высокие носочки и спортивную одежду.',
						},
						{
							title: 'Какая температура в&nbsp;зале?',
							content: 'Температура в зале составляет 18-19°, можно спокойно кататься в футболке',
						},
						{
							title: 'Как проходят занятия в&nbsp;карантин?',
							content: 'Во всех роллердромах ежедневно проводится влажная уборка с дезинфекцией и проветривание помещений. <br/>На стойке администратора вы можете воспользоваться дезинфицирующим средством для рук. <br/>Администраторы планируют расписание таким образом, чтобы избежать большого количества посетителей единовременно.',
						},
					]

				each item, idx in questions
					li.s12__accordion-item(class=`${idx === 0 ? 'uk-open' : ''}`)
						a.s12__accordion-title.uk-accordion-title(href="#")!= item.title
							+icon('plus').s12__accordion-icon-close
						.s12__accordion-content.uk-accordion-content!= item.content