mixin s5-hall
	section.s5&attributes(attributes)
		.s5__ctn.container 	
			h2.s5__title Наши занятия проходят в&nbsp;оборудованных и&nbsp;уютных залах
			.s5__subtitle В летний период — на улице

			.s5__slider(data-uk-slider)
				+picture(svg, 'browser-panel-gray', 'Sml').s5__slider-browser-top
				.uk-slider-container
					ul.s5__slider-items.uk-slider-items
						- for(let i = 1; i <= 3; i++)
							li.s5__slider-item 
								.s5__slider-item-wrap
									+picture(jpg, 's5-slider-image', 'Sml')
			.s5__blocks-scrollable
				.s5__blocks-set 
					.s5__block
						+icon('square-aim').s5__block-icon
						.s5__block-text Площадь каждого зала – от 300 кв.м.
					.s5__block
						+icon('square').s5__block-icon
						.s5__block-text В каждом зале есть все необходимое оборудование для отработки навыков
					.s5__block
						+icon('helmet').s5__block-icon
						.s5__block-text В каждом зале у нас прокат роликов и всего необходимого

			a.s5__link-more(href="#") Подробнее про наши залы