mixin s8-mentors
	section.s8&attributes(attributes)
		.s8__ctn.container 
			h2.s8__title У нас работают только увлечённые люди!
			p.s8__subtitle Они любят свою работу и знают, как сделать так, чтобы детям никогда не было скучно 

			.s8__slider

				+slider-arrow-nav('03').s8__slider-nav

				.s8__slider-container.uk-slider-container 
					ul.s8__slider-items.uk-slider-items 
						li.s8__slider-item
							.s8__slider-item-wrap
								.s8__slider-item-image 
									+picture(png, 's8-kate')

								.s8__slider-item-name Екатерина Афанасикова

								.s8__slider-item-position Действующий совладелец сети роллер школ «Skate Town» в Санкт-Петербурге и Москве

								.s8__slider-item-descr 
									|- Практикующий психоаналитик
									|#[br]- Повысила квалификации по направлению: детский психоанализ, психология коммуникации, организационная психотерапия, когнитивно-поведенческие и проективные методики в психотерапии
									|#[br]- Автор обучений по направлениям – психология взаимодействия с детьми в контексте тренировочного процесса; Коммуникативные диалоги в профессиональной сфере. Автор и ведущий программы в контексте групповой психотерапии для молодых специалистов в сфере предпринимательства
									|#[br]- Автор книги «Первичная и вторичная психическая травма», адаптированной для практикующих специалистов.
									|#[br]- 6-ти летний опыт работы с детьми, в том числе с детишками с отставанием в развитии.
			
						li.s8__slider-item
							.s8__slider-item-wrap
								.s8__slider-item-image 
									+picture(png, 's8-roma')

								.s8__slider-item-name Роман Гордин

								.s8__slider-item-position Основатель сети роллердромов и роллер школы «Skate Town» в&nbsp;Петербурге

								.s8__slider-item-descr 
									|Чемпион России по фристайл слалому на роликах. 15 лет в роллер спорте
									|#[br]-  62 медали на соревнованиях международного и федерального масштаба
									|#[br]-  12 лет работы тренером по роллер-спорту
									|#[br]-  Провел больше десяти тысяч занятий
									|#[br]-  Подготовил 12 призеров соревнований международного и федерального уровня.
									|#[br]-  Обучил уверенному катанию более 1 000 учеников 
									|#[br]-  Автор первой методички по фристайл-слалому на роликах 
									|#[br]-  Руководитель онлайн-школы подготовки инструкторов и руководителей роллер школ
			
						li.s8__slider-item
							.s8__slider-item-wrap
								.s8__slider-item-image 
									+picture(png, 's8-kris')

								.s8__slider-item-name Кристина Лысенко

								.s8__slider-item-position Руководитель роллер школы «Skate Town» в Москве

								.s8__slider-item-descr 
									|- С 3.5 лет занималась фигурным катанием на коньках и затем с 2005 года начала заниматься фристайл-слаломом и спид-слалом. В 2007 начала профессиональную деятельность в области преподавания
									|#[br]- 6-ти кратная чемпионка России по спид-слалому
									|#[br]- Вице-чемпион России по фристайл-слалому
									|#[br]- Вице-чемпион в Париже на этапе кубка мира и бронзовый призёр по спид-слалому в Париже
									|#[br]- Серебряный и бронзовый призёр чемпионата Европы по спид-слалому
									|#[br]- Достижения воспитанников:Самая юная чемпионка Европы и Мира, она же 9ти кратная чемпионка Европы и 6ти кратная чемпионка мира — Софья Богданова, 2 бронзовых призера чемпионата Европы, победители и призеры этапов кубка мира по фристайл-слалому.

			+btn-yellow.s8__btn.d-none.d-lg-flex: span Узнайте подробнее о наших тренерах		