//- mode - development / production

//- Links 

- const phoneLink = "tel:88127483938"
- const phoneNumber = "8 812 748 39 38"
- const mailAdress = "info@zhk.com"
- const privacyLink = "/privacy-policy.pdf"
- const handlingLink = "#" //- Обработка персональных данных

//- social
- const instLink = "#"
- const vkLink = "#"
- const ytLink = "#"

- const fbLink = "#"
- const tgLink = "#"

//- image placeholder
- const ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
- const imagePlaceholder = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- const assets = "./assets/images/"
- const modules = `/modules/images/`
- const assetsIco = "./assets/images/icons/"
- const modulesIco = `/modules/images/icons/`
//- file paths
- const stylesPath = `./assets/styles/main.min.css`
- const scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
-
    const breakpoints = {
        xs: 0,
        sm: 420,
        md: 768,
        lg: 1200
    }

//- colors 

//- iconset


