@mixin btn {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition--very-fast;
    user-select: none;

    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

@mixin btn-solid-primary {
    @include btn;

    background: $primary;
    border-radius: 0.4375rem;

    color: $text-light;

    &:active,
    &:focus-visible {
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
        }
    }
}

@mixin btn-solid-white {
    @include btn;

    background: white;
    border-radius: 0.4375rem;

    color: $primary;

    &:active,
    &:focus-visible {
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
        }
    }
}

@mixin btn-outline-primary {
    @include btn;

    border: 1px solid $primary;
    border-radius: 0.4375rem;

    color: $primary;

    &:active,
    &:focus-visible {
        background: link-hover($primary);
        border-color: link-hover($primary);
        color: $text-light;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
            background: link-hover($primary);
            border-color: link-hover($primary);
            color: $text-light;
        }
    }
}

@mixin btn-outline-primary--active {
    background: $primary;
    color: $text-light;
}

@mixin btn-outline-dark {
    @include btn;

    border: 0.0625rem solid #8d8d8d;
    border-radius: 0.4375rem;

    color: $primary;

    &:active,
    &:focus-visible {
        background: link-hover(#8d8d8d);
        border-color: link-hover(#8d8d8d);
        color: $text-light;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
            background: link-hover(#8d8d8d);
            border-color: link-hover(#8d8d8d);
            color: $text-light;
        }
    }
}

@mixin btn-yellow {
    @include btn;

    line-height: 4.0625rem;

    background: #ffba0c;
    box-shadow: 0px 0.25rem 0px #ff922f;
    border-radius: 0.4375rem;

    color: $text-light;
    font-weight: 600;
    font-size: 1rem;
}

.btn {
    &-solid-primary {
        @include btn-solid-primary;
    }

    &-solid-white {
        @include btn-solid-white;
    }

    &-outline-primary {
        @include btn-outline-primary;
    }

    &-outline-dark {
        @include btn-outline-dark;
    }

    &-yellow {
        @include btn-yellow;
    }
}
