@mixin btn {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: $transition--very-fast;
    user-select: none;

    background: transparent;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    -webkit-appearance: none;
    border-radius: 0;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
    
    &:not(:disabled) {
        cursor: pointer;
    }
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

@mixin btn-solid-primary {
    @include btn;

    background: $primary;
    border-radius: 0.4375rem;
    
    color: $text-light;

    &:active,
    &:focus-visible {

    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {}
    }
}

@mixin btn-outline-primary {
    @include btn;

    border: 1px solid $primary;
    border-radius: 0.4375rem;

    color: #000000;

    &:active,
    &:focus-visible {
        background: link-hover($primary);
        border-color: link-hover($primary);
        color: $text-light;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        &:hover {
            background: link-hover($primary);
            border-color: link-hover($primary);
            color: $text-light;
        }
    }
}

@mixin btn-outline-primary--active {
    background: $primary;
    color: $text-light;
}

.btn {
    &-solid-primary {
        @include btn-solid-primary;
    }

    &-outline-primary {
        @include btn-outline-primary;
    }
}
