extends modules/layout/_layout

prepend head
	title Наша команда
	meta(name="description" content="Наша команда")

block header 
	+header(3)

block content
	section.s27 
		.s27__ctn.container 
			h2.s27__title 
				+icon('quotes')
				| Наполняем жизнь людей радостью, приобщая их к роллер спорту 

			+picture-min(jpg, 's27-photo', 'Sm').s27__image-photo

			h3.s27__title-2 Сеть роллер школ SKATE TOWN — 
			p.s27__subtitle это не просто коммерческий проект, это – команда единомышленников. Мы искренне любим дело, которым занимаемся, и прикладываем все усилия для того, чтобы каждый ученик смог получить стопроцентный результат. 

			.s27__image-block
				.s27__image
					+picture-min(jpg, 's27-i1', 'Sm')
				.s27__descr-block Наставники Skate Town вырастили немало спортсменов международного уровня и продолжают это делать! Также в 2019 году наши тренеры получили официальные дипломы Национальной Лиги Инструкторов. 


			h3.s27__title-2 Перед детскими инструкторами стоит особая задача —
			p.s27__subtitle сделать обучение не только продуктивным, но и интересным. На курсах специальной подготовки наши тренеры изучают особенности общения с детьми и учатся превращать полезные занятия в веселую игру. 

			.s27__image-block.s27__image-block--right
				.s27__image
					+picture-min(jpg, 's27-i2', 'Sm')
				.s27__descr-block Многие из наших тренеров – призеры международного и национального уровня. Вся команда регулярно проходит повышение квалификации, в программу которой входят тренинги с разбором упражнений и занятий. 

	section.s18.s18--extended
		.s18__ctn.container 	
			h2.s18__title На каникулах мы организуем для детей городской лагерь на роликах
			h2.s18__subtitle В лагери дети заняты спортивными играми, мастер-классами, танцами и даже актерским мастерством. 

			.s18__slider(data-uk-slider)
				+picture(svg, 'browser-panel-gray', 'Sml').s18__slider-browser-top
				.uk-slider-container
					ul.s18__slider-items.uk-slider-items
						- for(let i = 1; i <= 3; i++)
							li.s18__slider-item 
								.s18__slider-item-wrap
									+picture(jpg, 's18-slider-image', 'Sml')

				+slider-arrow-nav('03').s18__slider-nav
				+slider-slidenav.s18__slidenav

			.s18__badge-block
				.s18__badge-block-title Присоединяйтесь к команде SkateTown в Instagram! 
				a(href=instLink).s18__badge-block-link 
					+icon('inst')
					| Перейти в Инстаграм
				+picture(svg, 's18-svg--ext', 'Sml').s18__badge-block-img.s18__badge-block-img--extended

	section.s28 
		.s28__ctn.container
			h2.s28__title История школы от основателя, Романа Гордина:

			+icon('quotes').s28__quotes

			p.s28__text.s28__text--primary «Уже тогда я понял, что смысл моей жизни обязательно должен быть связан с&nbsp;развитием роллер-культуры, которая облагораживает всех, кто с ней соприкоснулся, наполняя жизни людей радостью.»
			p.s28__text Устраиваясь на новую работу, мы часто думаем, что во главе компании стоит предприниматель или группа акционеров, которая нашла удобную нишу ради получения хорошей прибыли. История Skate Town не имеет с этим ничего общего. 
			p.s28__text В 12-ти летнем возрасте, катаясь по району с одноклассниками, я увидел роллера - слаломиста, кое-как выполняющего базовый трюк “крис-кросс”. #[br]В ту ночь я не мог заснуть и представлял, что катаюсь вокруг стаканчиков. До сих пор не понимаю, что меня так зацепило, но уже на следующий день после школы я бежал на площадку, в надежде повторить увиденное. 

			+picture-min(jpg, 's28-image-1').s28__image-1

			.s28__text-block-bottom
				p.s28__text В 2005 году, фристайл слалом еще не был признанным видом спорта, а соревнования проводились 1 раз в году в очень узком кругу фанатов. Инструкторов тогда еще не было, мой вдохновитель куда-то пропал и мне пришлось целый год экспериментировать самому, придумывая и подсматривая фрагменты разных роллерских движений.
				p.s28__text Конечно, с таким подходом никакого прогресса не было, а все навыки забылись за зиму, проведенную в ожидании сухого асфальта — ни о каких роллердромах или школах речи быть  не могло. Следующие зимы мы тренировались под мостом (ушаковская развязка) при температуре до - 20. 
				p.s28__text В 2006 и 2007 я счастливо провел в ежедневных тренировках и окружении новых друзей-слаломистов, поддержку которых я принимал с глубокой благодарностью. 
				p.s28__text Двое из них несколько недель учили меня хоккейным перебежкам, упражнениям из фигурного катания и стильному выполнению базовых трюков. Ничего кроме роликов для меня тогда не существовало. Летом 2006 года, в 13-ти летнем возрасте я провел свое первое занятие — это был взрослый начинающих роллер, который уговорил меня объяснить ему тот же крисс-кросс, после чего дал мне 500 рублей и целый год самостоятельно отрабатывал этот трюк :)

			+picture-min(jpg, 's28-image-2').s28__image-2

	+s10-form-lead
	+s11-map