extends modules/layout/_layout

prepend head
	title Title your page
	meta(name="description", content="Описание страницы")

block content
	section.s1 
		.container.s1__ctn 
			h1.s1__title Профессиональная роллер школа Skate&nbsp;Town 
			p.s1__subtitle Наполняем жизнь людей#[br.d-none.d-lg-inline] радостью, приобщая их к роллер спорту 

			+icon('triangle-logo', '#CCEEFF').s1__triangle-logo.s1__triangle-logo-1
			+icon('triangle-logo', '#FFDC85').s1__triangle-logo.s1__triangle-logo-2
			+icon('triangle-logo', '#E3B8F4').s1__triangle-logo.s1__triangle-logo-3

			.s1__bicycle
				+icon('triangle', '#D1F0FF').s1__bicycle-triangle
				+picture(png, 's1-bicycle').s1__bicycle-img
				.s1__bicycle-text Для детей 2-4#[br] года доступно#[br] обучение на беговелах

			+picture-min(png, 's1-children').s1__img-children

	section.s2
		.s2__ctn.container 
			+picture(svg, 's2-boy').s2__boy.d-none.d-md-block
			+picture(svg, 's2-circle').s2__circle.d-none.d-md-block.d-lg-none
			+icon('triangle-logo', '#FFDC85').s2__triangle-logo.s2__triangle-logo-1.d-none.d-lg-block
			+icon('triangle-logo', '#E3B8F4').s2__triangle-logo.s2__triangle-logo-2.d-none.d-lg-block

			h2.s2__title За 3 месяца занятий#[br] в роллер-школе: 

			ul.s2__list
				li.s2__list-item.s2__list-item-1 
					.s2__list-number 01
					.s2__list-text Ребенок полюбит спорт и будет заниматься им с удовольствием
				li.s2__list-item.s2__list-item-2 
					.s2__list-number 02
					.s2__list-text Родитель будет уверен в&nbsp;гармоничном развитии своего ребенка
				li.s2__list-item.s2__list-item-3 
					.s2__list-number 03
					.s2__list-text Ребенок и взрослый найдут новых друзей и хорошую компанию
				li.s2__list-item.s2__list-item-4 
					.s2__list-number 04
					.s2__list-text Общее увлечение для всей семьи полезное для здоровья и применимое в&nbsp;жизни

			+form-lead.s2__form

	section.s3
		.s3__ctn.container 
			h2.s3__title Кому подходят наши тренировки?
			p.s3__subtitle Выберите уровень подготовки:
			+icon('triangle-logo', '#CCEEFF').s3__triangle-logo.d-none.d-lg-block

			+tab-switcher([
					'Дети от 3-х лет',
					'Взрослые с опытом и без',
					'Профессиональные роллеры',
				]).s3__switcher
				+tab-switcher-item.s3__switcher-item.s3__switcher-item-1
					+picture(svg, 's3-girl', 'Sl').s3__img-girl

					.s3__list-block
						.s3__list-block-item.s3__list-block-item-1 Укрепляется все тело благодаря комплексной нагрузке
							.s3__list-block-item-number.s3__list-block-item-number-1 1
						.s3__list-block-item.s3__list-block-item-2 Ребёнок учится преодолетвать комплексы и&nbsp;становиться более уверенным в&nbsp;себе
							.s3__list-block-item-number.s3__list-block-item-number-2 2
						.s3__list-block-item.s3__list-block-item-3 Благодаря развитию соревновательного духа ребенок учится формировать цели и достигать их
							.s3__list-block-item-number.s3__list-block-item-number-3 3

					.s3__block-blue Благодаря всем этим факторам у&nbsp;ребенка увеличивается уверенность в себе и физические способности, что точно поможет ему стать популярее и проявлять лидерские качества в компании сверстников

				+tab-switcher-item.s3__switcher-item
					span content 2
				+tab-switcher-item.s3__switcher-item
					span content 3

	section.s4 
		.s4__ctn.container 
			h2.s4__title Skate Town в цифрах

			.s4__numbers-block
				.s4__numbers-block-item.s4__numbers-block-item-1
					.s4__numbers-block-number 15
					.s4__numbers-block-value чемпионов
					.s4__numbers-block-list
						| 1 чемпион мира#[br]
						| 5 чемпионов России#[br]
						| 8 чемпионов города#[br]
						| 3-х вице-чемпионов Европы#[br]
						| Абсолютные лидеры по количеству спортивных достижений 
				.s4__numbers-block-item.s4__numbers-block-item-2
					.s4__numbers-block-number 50 000+
					.s4__numbers-block-text посещений в год
				.s4__numbers-block-item.s4__numbers-block-item-3
					.s4__numbers-block-number 10 000+
					.s4__numbers-block-text учеников научили кататься
				.s4__numbers-block-item.s4__numbers-block-item-4
					.s4__numbers-block-number 3+1
					.s4__numbers-block-text 
						.s4__numbers-block-text-1 3 роллердрома
						.s4__numbers-block-text-2 3 в Санкт-Петербурге и 1 в Москве
				.s4__numbers-block-item.s4__numbers-block-item-5
					.s4__numbers-block-number 6
					.s4__numbers-block-text соревнований в год
			

			.s4__gift-block
				.s4__gift-title Подберите подходящую программу занятий для вашего ребёнка
				.s4__gift-subtitle Ответьте на 6 вопросов и получите купон на 850₽ в подарок

				+btn-yellow(type="button").s4__gift-btn
					span Давайте начнем

			
				
