extends modules/layout/_layout

prepend head
	title Услуги
	meta(name="description" content="Услуги")

block header 
	+header(1)

block content
	section.s13
		.s13__ctn.container 
			h2.s13__title Тренировки подойдут для учеников любого возраста

			.s13__slider
				.s13__slider-container.uk-slider-container 
					ul.s13__slider-items.uk-slider-items 
						li.s13__slider-item
							.s13__slider-item-wrap
								.s13__slider-item-title Для детей от 3-х лет
								+picture(svg, 's13-i1').s13__slider-item-image

						li.s13__slider-item
							.s13__slider-item-wrap
								.s13__slider-item-title Для взрослых #[br.d-lg-none]с&nbsp;опытом&nbsp;и&nbsp;без
								+picture(svg, 's13-i2').s13__slider-item-image

						li.s13__slider-item
							.s13__slider-item-wrap
								.s13__slider-item-title Для профессиональных #[br]роллеров
								+picture(svg, 's13-i3').s13__slider-item-image

				+slider-arrow-nav('03').s13__slider-nav

	section.s14 
		.s14__ctn.container
			h2.s14__title Занимайтесь в удобном Вам режиме

			+tab-switcher({
				labelSet: [ 'Индивидуальные', 'Групповые', 'Профессиональные' ], 
				label: 'Выберите тип занятия'
			}).s14__switcher
				+tab-switcher-item.s14__switcher-item.s14__switcher-item-1
					.s14__switcher-image-block
						+picture-min(jpg, 's14-i1')
					div
						.s14__switcher-title Индивидуальные занятия с инструктором для детей и взрослых.
						.s14__switcher-discount-block
							.s14__switcher-discount-num -50% 
							.s14__switcher-discount-text на первое #[br]занятие

						.s14__switcher-btn-wrap
							+btn-yellow.s14__switcher-btn: span Запишитесь на #[br.d-lg-none]индивидуальное занятие
							.s14__switcher-btn-descr Записаться можно на любое время в будни с 10 до 22 и в выходные с 9 до 22 по МСК

				+tab-switcher-item.s14__switcher-item.s14__switcher-item-2
					.s14__switcher-image-block
						+picture-min(jpg, 's14-i2')
					div
						.s14__switcher-title Групповые занятия для детей и взрослых (от 3 человек)

						ul.s14__switcher-list
							li.s14__switcher-list-item группы с комфортным разделением #[br.d-none.d-md-inline]по возрасту и уровню
							li.s14__switcher-list-item интересные задания
							li.s14__switcher-list-item много общения

						.s14__switcher-btn-wrap
							+btn-yellow.s14__switcher-btn: span Запишитесь на #[br.d-lg-none]групповое занятие
							.s14__switcher-btn-descr Записаться можно на любое время в будни с 10 до 22 и в выходные с 9 до 22 по МСК

				+tab-switcher-item.s14__switcher-item.s14__switcher-item-3
					.s14__switcher-image-block
						+picture-min(jpg, 's14-i3')
					div
						.s14__switcher-title Занятия с тренерами мирового уровня 

						ul.s14__switcher-list
							li.s14__switcher-list-item быстрый прогресс
							li.s14__switcher-list-item подготовка к соревнованиям

						.s14__switcher-btn-wrap
							+btn-yellow.s14__switcher-btn: span Запишитесь на #[br.d-lg-none]профессиональное занятие
							.s14__switcher-btn-descr Записаться можно на любое время в будни с 10 до 22 и в выходные с 9 до 22 по МСК

	section.s15 
		.s15__ctn.container 
			.s15__top-block 
				+picture-min(png, 's15-skates', 'Sml').s15__top-block-skates
				h2.s15__top-block-title Во всех наших залах вы можете взять всю необходимую экипировку в прокат
				a.s15__top-block-link-more 
					span Подробнее
					+icon('arrow-right')

			h2.s15__title Вы можете заниматься по абонементу или брать разовые занятия

			+picture(png, 's15-ticket').d-none.d-md-block.s15__image-ticket

			+tab-switcher({
				labelSet: [ 'Индивидуальные', 'Групповые' ], 
				label: 'Выберите тип занятия',
				icons: [ 'man', 'men' ],
				verticalAligmentMD: true,
				hideLabelMd: true,
			}).s15__switcher
				+tab-switcher-item.s15__switcher-item.s15__switcher-item-1
					.s15__switcher-content 
						.s15__switcher-content-item
							.s15__switcher-content-number 1700 ₽
							.s15__switcher-content-times 1 занятие 60 минут 
						.s15__switcher-content-item
							.s15__switcher-content-number 8600 ₽
							.s15__switcher-content-times Абонемет 6 занятий

					+btn-yellow.s15__switcher-btn: span Запишитесь на #[br.d-md-none]индивидуальное занятие

				+tab-switcher-item.s15__switcher-item.s15__switcher-item-2
					.s15__switcher-content 
						.s15__switcher-content-item
							.s15__switcher-content-number 1700 ₽
							.s15__switcher-content-times 1 занятие 60 минут 
						.s15__switcher-content-item
							.s15__switcher-content-number 8600 ₽
							.s15__switcher-content-times Абонемет 6 занятий

					+btn-yellow.s15__switcher-btn: span Запишитесь на #[br.d-md-none]групповое занятие

	section.s16 
		.s16__ctn.container 
			h2.s16__title Как проходят занятия

			.s16__items-block 
				.s16__item
					.s16__item-title Приносите ролики и комфортную одежду
					.s16__item-image: +picture-min(jpg, 's16-i1')
					.s16__item-number 1
				.s16__item
					.s16__item-title Вас встречает ваш инструктор
					.s16__item-image: +picture-min(jpg, 's16-i2')
					.s16__item-number 2
				.s16__item
					.s16__item-title 60 минут под руководством тренера изучаете интересные элементы
					.s16__item-image: +picture-min(jpg, 's16-i3')
					.s16__item-number 3
				.s16__item
					.s16__item-title Получаете обратную связь и составляете расписание дальнейших тренировок
					.s16__item-image: +picture-min(jpg, 's16-i4')
					.s16__item-number 4

	+s5-hall(style="background: #EDEEF0")

	+s10-form-lead

	section.s17 
		.s17__ctn.container 
			h2.s17__title Дополнительные услуги

			+tab-switcher({
				labelSet: [
					'Детские дни рождения',
					'Городской детский лагерь',
					'Бесплатные занятия',
					'Скейт и лонгборд',
					'Беговелы',
					'Профессиональный спорт',
				], 
				label: 'Выберите тип услуги:',
				hideLabelMd: true,
			}).s17__switcher
				+tab-switcher-item.s17__switcher-item
					.s17__switcher-container
						.s17__switcher-descr 
							.s17__switcher-descr-title «Дни рождения»
							.s17__switcher-descr-text Спортивно развлекательное мероприятие для детей и их родителей. Программа рассчитана на компанию до 14 человек и&nbsp;включает в себя всё необходимое: программа, прокат, проводящие, аренда зала и украшения. Идеально подойдет, чтобы сделать праздник запоминающимся!

						.s17__switcher-image: +picture-min(jpg, 's17-i1')

						.s17__switcher-prices-block
							.s17__switcher-prices-item
								.s17__switcher-prices-time Будние дни #[br.d-md-none]до 17:00
								.s17__switcher-prices-sub 1-14 детей, прокат включен в стоимость
								.s17__switcher-prices-number 14 000 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time Выходные #[br.d-md-none]дни
								.s17__switcher-prices-sub 1-14 детей, прокат включен в стоимость
								.s17__switcher-prices-number 18 000 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time Фотосессия
								.s17__switcher-prices-sub по желанию
								.s17__switcher-prices-number 3 000 ₽

				+tab-switcher-item.s17__switcher-item
					.s17__switcher-container
						.s17__switcher-descr 
							.s17__switcher-descr-title «Городской детский лагерь»
							.s17__switcher-descr-text Развлекательный клуб городского пребывания проходит во время всех школьных каникул. Каждые каникулы мы составляем разнообразную программу, которая включает тренировки и творческие мероприятия. В клубе собираются роллеры и скейтеры от 7 до 14 лет. В стоимость включены: развлекательные и спортивные мероприятия, сопровождение детей, прокат и горячее питание.

						.s17__switcher-image: +picture-min(jpg, 's17-i2')

						.s17__switcher-prices-block
							.s17__switcher-prices-item
								.s17__switcher-prices-time 1 день
								.s17__switcher-prices-sub &nbsp;
								.s17__switcher-prices-number 2 900 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time Смена
								.s17__switcher-prices-sub 5 дней
								.s17__switcher-prices-number 12 500 ₽

				+tab-switcher-item.s17__switcher-item
					.s17__switcher-container
						.s17__switcher-descr 
							.s17__switcher-descr-title «Бесплатные занятия»
							.s17__switcher-descr-text Бесплатные тренировки для взрослых в групповом формате подойдут тем, кто хочет познакомиться с атмосферой групповых занятий и получить базовые навыки катания.

						.s17__switcher-image: +picture-min(jpg, 's17-i3')

						.s17__switcher-prices-block
							.s17__switcher-prices-item
								.s17__switcher-prices-time Занятие бесплатное
								.s17__switcher-prices-sub 
								.s17__switcher-prices-number 0 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time Вход в зал
								.s17__switcher-prices-sub 
								.s17__switcher-prices-number 400 ₽

				+tab-switcher-item.s17__switcher-item
					.s17__switcher-container
						.s17__switcher-descr 
							.s17__switcher-descr-title «Скейт и лонгборд»
							.s17__switcher-descr-text Занятия на скейте для детей и взрослых с профессиональным инструктором. Подойдут как новичкам осваивающим первые шаги, так и опытным райдерам , желающим прокачать навыки. Занятия возможны в групповом и индивидуальном формате.

						.s17__switcher-image: +picture-min(jpg, 's17-i4')

						.s17__switcher-prices-block
							.s17__switcher-prices-item
								.s17__switcher-prices-time 4 занятия
								.s17__switcher-prices-sub Скидка за двух детей 5%, за трех - 10%
								.s17__switcher-prices-number 3 500 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time 8 занятий
								.s17__switcher-prices-sub Скидка за двух детей 5%, за трех - 10%
								.s17__switcher-prices-number 5 500 ₽

				+tab-switcher-item.s17__switcher-item
					.s17__switcher-container
						.s17__switcher-descr 
							.s17__switcher-descr-title «Беговелы»
							.s17__switcher-descr-text Для самых маленьких и активных наша школа проводит занятия на беговелах. Беговел - это двухколесный беспедальный велосипед для детей в возрасте от двух до пяти лет. Занятия на беговелах считаются одними из самых безопасных, но при этом учат держать баланс и равновесие, развивают координацию и ловкость. 

						.s17__switcher-image: +picture-min(jpg, 's17-i5')

						.s17__switcher-prices-block
							.s17__switcher-prices-item
								.s17__switcher-prices-time 1 день
								.s17__switcher-prices-sub 
								.s17__switcher-prices-number 1 800 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time Смена
								.s17__switcher-prices-sub 5 дней
								.s17__switcher-prices-number 1 800 ₽

				+tab-switcher-item.s17__switcher-item
					.s17__switcher-container
						.s17__switcher-descr 
							.s17__switcher-descr-title «Профессиональный спорт»
							.s17__switcher-descr-text Спортивное направление Skate Town включает в себя все самые популярные направления роллер спорта , такие как: прыжки, слайды, слалом и фрискейтинг. Тренеры могут подготовить спортсменов от простого роллера до спортсмена мирового уровня в любом направлении.

						.s17__switcher-image: +picture-min(jpg, 's17-i6')

						.s17__switcher-prices-block
							.s17__switcher-prices-item
								.s17__switcher-prices-time 1 занятие 
								.s17__switcher-prices-sub 60 минут
								.s17__switcher-prices-number 1 700 ₽
							.s17__switcher-prices-item
								.s17__switcher-prices-time Абонемент
								.s17__switcher-prices-sub 6 занятий
								.s17__switcher-prices-number 8 600 ₽


	section.s18
		.s18__ctn.container 	
			h2.s18__title Мы помогаем детям провести время с пользой во время летних каникул
			h2.s18__subtitle Место проведения:

			.s18__slider(data-uk-slider)
				+picture(svg, 'browser-panel-gray', 'Sml').s18__slider-browser-top
				.uk-slider-container
					ul.s18__slider-items.uk-slider-items
						- for(let i = 1; i <= 3; i++)
							li.s18__slider-item 
								.s18__slider-item-wrap
									+picture(jpg, 's18-slider-image', 'Sml')

				+slider-arrow-nav('03').s18__slider-nav
				+slider-slidenav.s18__slidenav

			.s18__badge-block
				.s18__badge-block-title В детском лагере детей ждёт более 60+ часов мастер-классов и тренировок 
				+picture(svg, 's18-svg', 'Sm').s18__badge-block-img

	section.s19 
		.s19__ctn.container
			h2.s19__title Отзывы родителей

			.s19__avatar 
				.s19__avatar-img 
					+picture(jpg, 's19-avatar-1')

			.s19__slider(data0uk-slider)
				.uk-slider-container 
					ul.uk-slider-items
						li.s19__slider
							.s19__review
								.s19__review-block
									.s19__review-name Полина Афанасьева
									.s19__review-date 1 апр 2021 в 10:11
									.s19__review-text Дочке 5 лет,всегда ходим на каникулах в скейт таун в лагерь! #[br]Очень довольны! Не смотря на то что дочка ещё сама не может переодеть ролики проблем с этим нет некогда-всегда помогут! и отвлечься ,и поиграть , и конечно потренироваться! Тренеры всегда рядом ,всегда помогут!  #[br]Ребенок счастлив и уходить к концу дня не хочет))))

								+btn-yellow.s19__review-btn: span Забронируйте заранее

								+slider-arrow-nav('03').s19__slider-nav
								a.s19__review-link-more(href="#") Посмотреть еще отзывы #[+icon('arrow-right')]

	+s11-map

