.s1 {
    &__ctn {
        padding-top: 1.25rem;
        padding-bottom: 20.3125rem;
    }

    &__title {
        font-weight: bold;
        font-size: 1.5625rem;
        line-height: 1.3;
        color: $primary;
        margin-bottom: 0.125rem;
    }

    &__subtitle {
        width: 12.4125rem;
        line-height: 1.5;
        color: #545454;
    }

    &__bicycle {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 5.75rem;
        left: 13.3125rem;
        transform: rotate(345deg);
        z-index: 10;

        &-triangle {
            width: 7.5rem;
            z-index: -2;
            @include center-item;
        }

        &-img {
            width: 3.125rem;
        }

        &-text {
            font-family: $font-family-headings;
            font-weight: 500;
            font-size: 0.42rem;
            line-height: 1.4;
            text-align: center;
            letter-spacing: 0.082em;
            margin-top: 0.1rem;
        }
    }

    &__triangle-logo {
        width: 7rem;
        position: absolute;

        &-1 {
            top: 15.6875rem;
            left: -2.5rem;
            transform: rotate(-10.64deg);
        }

        &-2 {
            top: 12.8125rem;
            left: 9.8125rem;
            transform: rotate(13.8deg);
        }

        &-3 {
            top: 21.3125rem;
            left: 15.5rem;
            transform: rotate(26deg);
        }
    }

    &__img-children {
        position: absolute;
        width: 20.4rem;
        left: 0;
        bottom: 0;
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .s1 {
        &__ctn {
            padding-top: 2.1875rem;
            padding-bottom: 27.0125rem;
        }
    
        &__title {
            font-size: 2.4375rem;
            line-height: 1.195;
            margin-bottom: 1.125rem;
        }
    
        &__subtitle {
            margin-left: 0.2rem;
        }
    
        &__bicycle {
            top: 16.35rem;
            left: 0.4125rem;
    
            &-triangle {
                width: 10.4rem;
            }
    
            &-img {
                width: 4.125rem;
            }
    
            &-text {
                font-size: 0.5625rem;
                margin-top: 0.1rem;
            }
        }
    
        &__triangle-logo {
            width: 12rem;
    
            &-1 {
                top: 13.6875rem;
                left: 10rem;
                transform: rotate(-10.64deg);
            }
    
            &-2 {
                top: 22.6125rem;
                left: 39.3125rem;
                transform: rotate(26deg);
            }
    
            &-3 {
                top: 8.8125rem;
                left: 30rem;
                transform: rotate(13deg);
            }
        }
    
        &__img-children {
            width: 33.6875rem;
            left: 13.9375rem;
            bottom: 0;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .s1 {
        &__title {
            width: 26.875rem;
        }
        &__ctn {
            padding-top: 3.4875rem;
            padding-bottom: 21.1rem;
        }
        &__subtitle {
            width: 20rem;
        }
        &__img-children {
            width: 37.8375rem;
            left: 27.5375rem;
            bottom: 0;
        }
        &__triangle-logo {
            width: 13.0625rem;

            &-1 {
                top: 7.1875rem;
                left: 23.5rem;
                transform: rotate(-10.64deg);
            }
            &-2 {
                top: 1.6125rem;
                left: 45.7125rem;
                transform: rotate(15deg);
            }
            &-3 {
                top: 17.3125rem;
                left: 56.2rem;
                transform: rotate(26deg);
            }
        }
        &__bicycle {
            top: 21.65rem; 
            left: 3.7125rem; 
            padding-top: 0.3rem;

            &-triangle {
                width: 10.4rem;
            }
    
            &-img {
                width: 4.325rem;
            }
    
            &-text {
                font-size: 0.5625rem;
                margin-top: 0.2rem;
            }
        }
    }

}



.s2 {
    &__ctn {
        padding-top: 3.5rem;
        padding-bottom: 1rem;
    }
    
    &__title {
        font-weight: 600;
        font-size: 1.5625rem;
        line-height: 1.065;
        margin-bottom: 1.7rem;
    }

    &__list {
        margin-bottom: 2.9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__list-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.1rem;
    }

    &__list-number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.875rem;

        font-family: $font-family-headings;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1;
        letter-spacing: 0.06em;
        color: #E6CEEF;
        -webkit-text-stroke: 0.514362px #BAA3BF;

        margin-right: 0.9rem;
    }

    &__list-text {
        width: 12.325rem;
        font-size: 0.9375rem;
        line-height: 1.355;
        letter-spacing: -0.309001px;
    }

    &__form {}
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .s2 {
        &__ctn {
            padding-top: 2.4rem;
            padding-bottom: 1rem;
        }
        &__boy {
            width: 360px;
            position: absolute;
            top: 12.3rem;
            left: 26.2rem;
        }
        &__circle {
            width: 25.9375rem;
            position: absolute;
            z-index:-1;
            top: 19.4rem;
            left: 26rem;
        }
        &__title {
            font-size: 2.4375rem;
            margin-bottom: 1.7rem;
            margin-left: 2.8rem;
            line-height: 1.08;
        }
    
        &__list {
            margin-bottom: 2.9rem;
            background: #FFFFFF;
            border: 1px solid #D7D7D7;
            border-radius: 6.18001px;
            width: 33.5625rem;
            height: 26.875rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            :nth-child(4) {
                :nth-child(2) {
                    width: 19.5625rem;
                }
            }
        }
    
        &__list-item {
            height: 6.71875rem;
            display: flex;
            align-items: flex-start;
            margin-bottom: 0;
            border-bottom: 1px solid #EBEBEB;
            padding-left: 4rem;
            padding-top: 1.2rem;
        }
    
        &__list-number {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.875rem;
    
            font-family: $font-family-headings;
            font-weight: bold;
            font-size: 4.875rem;
            line-height: 1;
            letter-spacing: 0.06em;
            color: #E6CEEF;
            -webkit-text-stroke: 0.514362px #BAA3BF;
    
            margin-right: 0.9rem;
        }
    
        &__list-text {
            font-size: 0.9375rem;
            line-height: 1.355;
            letter-spacing: -0.309001px;
            width: 18.1875rem;
            margin-left: 1.8rem; 
            margin-top: 0.4rem;
        }
    
        &__form {
            left: 7.6rem;
            transform: unset;
            right: 0;
            top: 4.2rem;
        }
    }
}


@media (min-width: map-get($grid-breakpoints, lg)) {
    .s2 {
        &__triangle-logo {
            width: 13.0625rem;
            position: absolute;
            &-1 {
                top: 30.4rem;
                left: -6.2rem;
                transform: rotate(-13deg);
            }
            &-2 {
                top: 17.6rem;
                left: 67.4rem;
                transform: rotate(26deg);
            }
        }
        &__ctn {
            padding-top: 4rem;
            padding-bottom: 1rem;
        }
        &__boy {
            top: 14.5rem;
            left: 22.9rem;
            z-index:2;
        }
        &__circle {
            width: 25.9375rem;
            position: absolute;
            z-index:-1;
            top: 19.4rem;
            left: 26rem;
        }
        &__title {
            font-size: 2.4375rem;
            margin-bottom: 1.7rem;
            margin-left: 3rem;
            line-height: 1.08;
        }
    
        &__list {
            margin-bottom: 2.9rem;
            background: #FFFFFF;
            border: 1px solid #D7D7D7;
            border-radius: 6.18001px;
            width: 33.5625rem;
            height: 26.875rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            :nth-child(1) {
                :nth-child(2) {
                    width: 13.25rem;
                }
            }
            :nth-child(2) {
                :nth-child(2) {
                    width: 16.1875rem;
                }
            }
            :nth-child(3) {
                :nth-child(2) {
                    width: 12.5rem;
                }
            }
            :nth-child(4) {
                :nth-child(2) {
                    width: 16.75rem;
                }
            }
        }
    
        &__list-item {
            padding-left: 3.7rem;
            padding-top: 1.2rem;
        }
    

    
        &__list-text {
            font-size: 1rem;
            line-height: 1.4;
            letter-spacing: -0.009001px;
            width: 18.1875rem;
            margin-left: 1.9rem;
            margin-top: 0.6rem;
        }
    
        &__form {
            top: -36.1rem;
            left: 41.2rem;
        }
    }
}
.s3 {
    @include bg(#EDEEF0);

    &__ctn {
        padding-top: 2rem;
        padding-bottom: 3.1rem;
    }

    &__title {
        font-size: 1.5625rem;
        line-height: 1.3;
        margin-bottom: 1.1rem;
    }

    &__subtitle {
        font-family: $font-family-headings;
        font-weight: 300;
        letter-spacing: -0.5px;
        margin-bottom: 0.3rem;
    }

    &__img-girl {
        width: 20.175rem;
        position: absolute;
        right: -1.25rem;
        bottom: 0;
    }

    &__list-block {}

    &__list-block-item {
        padding: 1.3125rem 2rem 2.1875rem 1.4375rem;
        width: 17.5rem;
        height: 9.0625rem;

        background: #FFFFFF;
        border: 0.0625rem solid #D7D7D7;
        border-radius: 0.375rem;

        line-height: 1.4;
        letter-spacing: -0.031rem;

        position: relative;
        margin-bottom: 1rem;
    }

    &__list-block-item-number {
        width: 2.5625rem;
        display: flex;
        justify-content: center;

        color: #FFDC85;
        font-size: 4.6rem;
        font-weight: 700;
        font-family: $font-family-headings;

        position: absolute;
        right: 0.5rem;
        bottom: -1.6rem;
    }

    &__block-blue {
        padding: 1.0625rem 0.25rem 0 1.5rem;
        width: 17.5rem;
        height: 21.1875rem;
        
        background: #CCEEFF;
        border: 0.0625rem solid #D7D7D7;
        border-radius: 0.375rem;

        line-height: 1.6;
        letter-spacing: -0.031rem;
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    
}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}

@media (min-width: map-get($grid-breakpoints, md)) {}
