.form-lead {
    padding: 2.8125rem 1.25rem;
    width: 20rem;
    background: white;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    @include center-item-x('relative');

    &__title {
        font-family: $font-family-headings;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.3;
        margin-bottom: 0.9375rem;
    }

    &__label {
        font-weight: 300;
        font-size: 0.8125rem;
        color: #565656;
        margin-bottom: 0.625rem;
    }

    &__options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.9375rem;
    }

    &__options-button {
        @include btn;

        width: 5.5rem;
        height: 2.3125rem;

        border: 0.0625rem solid #DEDEDE;
        border-radius: 0.4375rem;

        color: #CACACA;
        font-size: 0.75rem;

        svg {
            display: block;
            width: 0.8rem;
            margin-right: 0.375rem;
        }

        &:focus-visible {
            color: $dark;
            border-color: $dark;
        }

        &.active {
            color: $text-light;
            border-color: transparent;
        }

        &--mobile {
            &.active {
                background: linear-gradient(180deg, #C277DF 0%, #8A4FA2 100%);
            }
        }

        &--whatsapp {
            &.active {
                background: linear-gradient(180deg, #A0E79F 0%, #57BB55 100%);
            }
        }

        &--telegram {
            &.active {
                background: linear-gradient(180deg, #5CA7FF 0%, #0A85DE 100%);
            }
        }
    }

    &__input-wrap {
        margin-bottom: 0.875rem;
    }

    &__input {
        width: 100%;
        height: 4.0625rem;
        background: #F5F5F5;
        border-radius: 0.4375rem;
        
        text-align: center;
        font-weight: 300;
        font-size: 0.875rem;
    }

    &__submit-btn {
        width: 100%;
        line-height: 4.0625rem;
        
        @include btn-yellow;

        margin-bottom: 2.2rem;
    }

    &__agreement {
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        &-check {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0.9375rem;
            height: 0.9375rem;
            background: #ECECEC;
            border-radius: 0.1875rem;
            position: relative;

            margin: 0.125rem 0.625rem 0 0;

            &::after {
                content: '';
                width: 0.5rem;
                height: 0.5rem;
                background: #969696;
                border-radius: 50%;
                opacity: 0;
            }
        }

        &-check-input {
            display: none;

            &:checked + .form-lead__agreement-check::after {
                opacity: 1;
            }
        }

        &-text {
            width: 15.5625rem;
            font-weight: 300;
            font-size: 0.8125rem;
            line-height: 1.125rem;
            color: #A9A9A9;
        }

        &-text-link {
            text-decoration: underline;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .form-lead {
        padding: 2.625rem 2.8125rem;
        width: 31.25rem;
        height: 33.75rem;
        @include center-item-x('relative');
    
        &__title {
            font-size: 1.5rem;
            margin-bottom: 1.0625rem;
        }
    
        &__label {
            margin-bottom: 0.8125rem;
        }
    
        &__options {
            width: 19.0625rem;
        }
    
        &__options-button {
            width: 5.9375rem;
            font-size: 0.8125rem;
        }
    
        &__input-wrap {
            margin-bottom: 0.875rem;
        }
    
        &__input {
            padding-left: 1.8125rem;
            text-align: left;
            margin-bottom: 0.9375rem;
        }
    
        &__submit-btn {
            margin-bottom: 0.9375rem;
        }
    
        &__agreement {
            &-text {
                width: unset;
            }
        }
    }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
    .form-lead {
        @include center-item-undo;
    }
}